<h2>Menu Listing</h2>
<button (click)="addCat" class="btn btn-primary">Add Category</button>
<br/>
<br/>
<table class="table table-bordered" *ngFor="#cat of menuCats">
    <tr>
        <th colspan="4">
            <span>{{cat.name}}</span>
            <button (click)="addItem()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span></button>
        </th>

    </tr>
    <tr *ngFor="#item of cat.menu_item">
        <td>{{item.name}}</td>
        <td>{{item.url}}</td>
        <td>{{item.component}}</td>
        <td>
            <div class="btn-group pull-right">
                <button (click)="editItem(item)" type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <button (click)="deleteItem(item)" type="button" class="btn btn-default" aria-label="Right Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </div>
        </td>
    </tr>
</table>